<div class="container">
  <div>
      <%= flash[:notice] %>
  </div>
  <div class="card-list py-5">
    <h4 class="title">みんなの投稿</h4>
    <div class="row">
      <%= render 'post', posts: @posts %>
    </div>
  </div>
</div>