<div class="container">
  <div class="card-list-container py-5">
    <!--<div class="row">-->
    <!--  <div class="col-md-7 pt-3 offset-md-1">-->
        <h2>みんなの投稿</h2>
        <div class="row">
          <%= render 'post', posts: @posts %>
        </div>
    <!--  </div>-->
    <!--</div>-->
  </div>
</div>