<div class="container">
  <div class="row">
    <div class="box col-md-10 pt-3">
      <div class="text-box">
      <h1 class="app-name mb-3">Dishes</h1>
        <p>おすすめのごはんを共有しよう！</p>
        <p>お店を見つけて予約しよう！</p>
      </div>
    </div>
  </div>
</div>
