<div class="container">
  <div class="row">
    <div class="col-md-10 pt-3 offset-md-1">
      <h1 class="mb-3">Dishes</h1>
        <p>おすすめのごはんを共有しよう！</p>
        <p>行ってみたいお店を見つけて予約しよう！</p>
    </div>
  </div>
</div>
