<% if post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorites_path(post), method: :delete do %>
      <i class="far fa-heart"></i><%= post.favorites.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to post_favorites_path(post), method: :post do %>
      ♡<%= post.favorites.count %>
    <% end %>
  </p>
<% end %>