<% reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.date.strftime("%Y/%m/%d") %></td>
    <td><%= reservation.time.strftime("%H:%M") %></td>
    <td><%= reservation.restaurant.name %></td>
    <td>
      <%= link_to '予約詳細', reservation_path(reservation), class: "btn btn-secondary" %>
    </td>
  </tr>
<% end %>