<div class="container">
  <div class="row">
    <div class="col-md-10 pt-5 offset-md-1">
      <h4>予約が完了しました。</h4>
      <p class="pt-3">予約一覧は<%= link_to 'こちら', reservations_path %></p>
    </div>
  </div>
</div>