<div class="container">
  <div class="row">
    <div class="col-md-7 pt-3 offset-md-1 mt-3">
      <h4 class="title mb-3">予約一覧</h4>
      <table class="table mb-5">
        <tr>
          <th>日付</th>
          <th>時間</th>
          <th>飲食店名</th>
          <th></th>
        </tr>
        <%= render 'public/reservations/reservation', reservations: @reservations %>
      </table>
    </div>
  </div>
</div>