<footer style="background-color:#6b4033 ">
  <divclass = "border-top border-dark">
      <div class="container mb-3">
        <div class="row">
          a
        </div>
    </div>
  </div>
</footer>