<footer class="page-footer" style="background-color:#938685 ">
  <divclass = "border-top border-dark">
      <div class="container mb-3">
        <div class="row">
          a
        </div>
    </div>
  </div>
</footer>