<div class="side-bar pb-3 pl-3 mt-3">
  <%= render 'public/searches/search' %>
  <p class="pt-3">
    <%= link_to reservations_path, style:"color:white;" do %>
      <i class="fa-solid fa-circle"></i> 予約一覧
    <% end %>
  </p>
  <p>
    <%= link_to favorites_path, style:"color:white;" do %>
      <i class="fa-solid fa-circle"></i> いいねした投稿
    <% end %>
  </p>
  <p>
    <%= link_to rank_path, style:"color:white;" do %>
      <i class="fa-solid fa-circle"></i> 人気投稿
    <% end %>
  </p>
</div>


